.secectiune2 {
  display:block;
  background-color: rgb(47, 125, 199);
  text-align: center;
  padding: 30px;
  overflow: auto;
  margin:auto;
}
.introducere{
  color:white;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(47, 125, 199);
  text-align: center;
}
.sectiune2 img {
  border-radius: 50%;
  
  }
.coloane {   
display:flex;
background-color: rgb(47, 125, 199); 
margin:auto;
overflow: auto;
justify-content: space-around;
padding: 20px;
}

.column1,.column2,.column3,.column4 {
text-align: center;  
padding:10px;
overflow: auto;  
border: solid 1px white;
background-color: rgb(47, 125, 199);
}

  
   
    
  
   