.secectiune2p {display:block;
  background-color: rgb(25, 93, 172);
  text-align: center;
  color: white;
  padding: 30px;
  float:left;
}
img {
  border-radius: 50%;
  }
.sectiune2 {   
display:flex;
background-color: rgb(25, 93, 172); 
margin:auto;
overflow: auto;
justify-content: space-around;
padding: 20px;
}

.column1,.column2,.column3,.column4 {
text-align: center;  
padding:10px;
overflow: auto;  
border: solid 1px white;
background-color: rgb(25, 93, 172);
}

  
   
    
  
   